Services/PresentationServices/src/wsdl/PatientDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ /*****************************************************************************************************************
  ~  *
  ~  * Copyright (C) 2012 by Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com)
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
  ~  * with the License. You may obtain a copy of the License at
  ~  *
  ~  *     http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software distributed under the License is
  ~  * distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and limitations under the License.
  ~  *
  ~  *****************************************************************************************************************/
  ~
  ~ /*****************************************************************************************************************
  ~  * Socratic Grid contains components to which third party terms apply. To comply with these terms, the following
  ~  * notice is provided:
  ~  *
  ~  * TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
  ~  * Copyright (c) 2008, Nationwide Health Information Network (NHIN) Connect. All rights reserved.
  ~  * Redistribution and use in source and binary forms, with or without modification, are permitted provided that
  ~  * the following conditions are met:
  ~  *
  ~  * - Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~  *     following disclaimer.
  ~  * - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
  ~  *     following disclaimer in the documentation and/or other materials provided with the distribution.
  ~  * - Neither the name of the NHIN Connect Project nor the names of its contributors may be used to endorse or
  ~  *     promote products derived from this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~  * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~  * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~  * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
  ~  * EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  *
  ~  * END OF TERMS AND CONDITIONS
  ~  *
  ~  *****************************************************************************************************************/
  -->
  
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   xmlns:ps="urn:org:socraticgrid:ps"
   name="PatientDataService"
   targetNamespace="urn:org:socraticgrid:ps"
   xmlns:tns="urn:org:socraticgrid:ps">
    <documentation>Patient Data Fact Service</documentation>
    <types>
        <!--xsd:schema>
            <xsd:import namespace="urn:org:socraticgrid:ps"
                schemaLocation="../schemas/nhinc/ps/PatientDataService.xsd"/>
        </xsd:schema-->

        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:org:socraticgrid:ps"
            xmlns:tns="urn:org:socraticgrid:ps"
            elementFormDefault="qualified">


            <xsd:complexType name="PatientDataRequestType">
                <xsd:sequence>
                    <xsd:element name="token"        type="xsd:string"></xsd:element>
                    <xsd:element name="patientId"    type="xsd:string"></xsd:element>
                    <xsd:element name="userId"       type="xsd:string"></xsd:element>
                    <xsd:element name="domain"       type="xsd:string"></xsd:element>
                    <xsd:element name="requestType"  type="xsd:string"></xsd:element>
                    <xsd:element name="itemId"       type="xsd:string"></xsd:element>
                    <xsd:element name="dataSource"   type="xsd:string"></xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="PatientDataRequest" type="tns:PatientDataRequestType"></xsd:element>


            <xsd:element name="PatientDataResponse" type="xsd:string"></xsd:element>

        </xsd:schema>
    </types>

    <message name="PatientDataRequestMessage">
        <part name="PatientDataRequest"
            element="tns:PatientDataRequest"/>
    </message>
    <message name="GetPatientDataResponseMessage">
        <part name="PatientDataResponse"
          element="tns:PatientDataResponse"/>
    </message>
        
    <portType name="PatientDataPortType">
        <operation name="GetPatientData">
            <input name="GetPatientDataRequest"
               message="tns:PatientDataRequestMessage" />
            <output name="GetPatientDataResponse"
                message="tns:GetPatientDataResponseMessage"/>
        </operation>
    </portType>

    <binding name="PatientDataServiceBindingSoap11" type="tns:PatientDataPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetPatientData">
            <soap:operation soapAction="urn:GetPatientData"/>
            <input name="GetPatientDataRequest">
                <soap:body use="literal"/>
            </input>
            <output name="GetPatientDataResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!--service name="PatientDataService">
        <port name="PatientDataServicePortSoap11"
          binding="tns:PatientDataServiceBindingSoap11">
            <soap:address
         location="http://172.31.5.82:${HttpDefaultPort}/PresentationServices/PatientDataService" />
        </port>
    </service-->

    <service name="PatientDataService">
        <port name="PatientDataServicePortSoap11"
          binding="tns:PatientDataServiceBindingSoap11">
            <soap:address
         location="http://localhost:${HttpDefaultPort}/PresentationServices/PatientDataService" />
        </port>
    </service>

</definitions>
