Services/XDSManagerWeb/src/wsdl/schemas/nhinc/common/Subscription.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*****************************************************************************************************************
  ~  *
  ~  * Copyright (C) 2012 by Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com)
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
  ~  * with the License. You may obtain a copy of the License at
  ~  *
  ~  *     http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software distributed under the License is
  ~  * distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and limitations under the License.
  ~  *
  ~  *****************************************************************************************************************/
  ~
  ~ /*****************************************************************************************************************
  ~  * Socratic Grid contains components to which third party terms apply. To comply with these terms, the following
  ~  * notice is provided:
  ~  *
  ~  * TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
  ~  * Copyright (c) 2008, Nationwide Health Information Network (NHIN) Connect. All rights reserved.
  ~  * Redistribution and use in source and binary forms, with or without modification, are permitted provided that
  ~  * the following conditions are met:
  ~  *
  ~  * - Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~  *     following disclaimer.
  ~  * - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
  ~  *     following disclaimer in the documentation and/or other materials provided with the distribution.
  ~  * - Neither the name of the NHIN Connect Project nor the names of its contributors may be used to endorse or
  ~  *     promote products derived from this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~  * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~  * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~  * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
  ~  * EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  *
  ~  * END OF TERMS AND CONDITIONS
  ~  *
  ~  *****************************************************************************************************************/
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:org:socraticgrid:common:subscription"
    xmlns:tns="urn:org:socraticgrid:common:subscription"
    elementFormDefault="qualified" 
    xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" 
    xmlns:addr="http://www.w3.org/2005/08/addressing"
    xmlns:ihe="urn:ihe:iti:xds-b:2007" 
    xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2" 
    xmlns:nccommon="urn:org:socraticgrid:common:nhinccommon"
    xmlns:nhin-cdc="http://www.hhs.gov/healthit/nhin/cdc"
    xmlns:subb2obcdc="urn:org:socraticgrid:common:subscriptionb2overrideforcdc"
    xmlns:subb2obdoc="urn:org:socraticgrid:common:subscriptionb2overridefordocuments"
    >
    <xsd:import schemaLocation="../../docs.oasis-open.org/wsn/b-2.xsd" namespace="http://docs.oasis-open.org/wsn/b-2"/>
    <xsd:import schemaLocation="../../ebRS/rim.xsd" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"/>
    <xsd:import schemaLocation="../../ihe/XDS.b_DocumentRepository.xsd" namespace="urn:ihe:iti:xds-b:2007"/>
    <xsd:import schemaLocation="../common/NhincCommon.xsd" namespace="urn:org:socraticgrid:common:nhinccommon"/>
    <xsd:import schemaLocation="../../www.w3.org/2005/08/addressing/ws-addr.xsd" namespace="http://www.w3.org/2005/08/addressing"/>
    <xsd:import schemaLocation="../common/Cdc.xsd" namespace="http://www.hhs.gov/healthit/nhin/cdc"/>
    <xsd:import schemaLocation="../common/SubscriptionB2OverrideForCdc.xsd" namespace="urn:org:socraticgrid:common:subscriptionb2overrideforcdc"/>
    <xsd:import schemaLocation="../common/SubscriptionB2OverrideForDocuments.xsd" namespace="urn:org:socraticgrid:common:subscriptionb2overridefordocuments"/>

    <xsd:complexType name="CommunityType">
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:string"/>
            <xsd:element name="Name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="Community" type="tns:CommunityType">
    </xsd:element>
    <xsd:complexType name="SubscriberType">
        <xsd:sequence>
            <xsd:element name="Community" type="tns:CommunityType"/>
            <xsd:element name="NotificationConsumerEndpointAddress" type="xsd:string"/>
            <xsd:element name="UserAddress" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Subscriber" type="tns:SubscriberType">
    </xsd:element>
    <xsd:complexType name="SubscribeeType">
        <xsd:sequence>
            <xsd:element name="Community" type="tns:CommunityType"/>
            <xsd:element name="NotificationProducerEndpointAddress" type="xsd:string"/>
            <xsd:element name="UserAddress" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Subscribee" type="tns:SubscribeeType">
    </xsd:element>
    <xsd:complexType name="SubscriptionCriteriaType">
        <xsd:sequence>
            <xsd:element name="SubscribeePatient" type="nccommon:QualifiedSubjectIdentifierType"/>
            <xsd:element name="SubscriberPatient" type="nccommon:QualifiedSubjectIdentifierType">
            </xsd:element>
            <xsd:element name="Criteria" type="tns:CriteriaType" minOccurs="0">
            </xsd:element>
            <xsd:element name="TopicExpression" type="tns:TopicExpressionType" minOccurs="0">
            </xsd:element>
            <xsd:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType">
    </xsd:element>
    <xsd:complexType name="SubscriptionReferenceType">
        <xsd:sequence>
            <xsd:element name="SubscriptionManagerEndpointAddress" type="xsd:string" minOccurs="0"/>
            <xsd:element name="ReferenceParameters" type="tns:ReferenceParametersType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
    <xsd:complexType name="SubscriptionItemType">
        <xsd:sequence>
            <xsd:element name="Subscriber" type="tns:SubscriberType" minOccurs="0"/>
            <xsd:element name="Subscribee" type="tns:SubscribeeType" minOccurs="0"/>
            <xsd:element name="SubscriptionCriteria" type="tns:SubscriptionCriteriaType" minOccurs="0"/>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" minOccurs="0"/>
            <xsd:element name="ParentSubscriptionReference" type="tns:SubscriptionReferenceType" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionItem" type="tns:SubscriptionItemType"/>
    <xsd:complexType name="SubscriptionItemsType">
        <xsd:sequence>
            <xsd:element name="subscriptionItem" type="tns:SubscriptionItemType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionItems" type="tns:SubscriptionItemsType">
    </xsd:element>
    <xsd:complexType name="CriterionType">
        <xsd:sequence>
            <xsd:element name="Key" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Criterion" type="tns:CriterionType">
    </xsd:element>
    <xsd:complexType name="CriteriaType">
        <xsd:sequence>
            <xsd:element name="Criterion" type="tns:CriterionType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Criteria" type="tns:CriteriaType">
    </xsd:element>
    <xsd:complexType name="ReferenceParameterType">
        <xsd:sequence>
            <xsd:element name="Prefix" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Namespace" type="xsd:string"/>
            <xsd:element name="ElementName" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ReferenceParameter" type="tns:ReferenceParameterType">
    </xsd:element>
    <xsd:complexType name="ReferenceParametersType">
        <xsd:sequence>
            <xsd:element name="ReferenceParameter" type="tns:ReferenceParameterType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ReferenceParameters" type="tns:ReferenceParametersType">
    </xsd:element>
    <xsd:complexType name="SubscriptionReferencesType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionReferences" type="tns:SubscriptionReferencesType">
    </xsd:element>
    <xsd:complexType name="SubscribeDocumentRequestType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element name="Subscribe" type="tns:SubscribeDocumentType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeDocumentRequest" type="tns:SubscribeDocumentRequestType">
    </xsd:element>
	<!-- begin CdcBioPackage messages -->
<!--
    <xsd:complexType name="SubscribeCdcBioPackageRequestType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element name="Subscribe" type="tns:SubscribeBioPackageType"/>
            <xsd:element name="TargetHomeCommunity" type="nccommon:HomeCommunityType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeCdcBioPackageRequest" type="tns:SubscribeCdcBioPackageRequestType">
    </xsd:element>
    <xsd:complexType name="NotifyOfCdcBioPackageType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType">
            </xsd:element>
            <xsd:element name="Notify" type="subb2obcdc:NotifyCdcBioPackageType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifySubscribersOfCdcBioPackage" type="tns:NotifyOfCdcBioPackageType"/>
    <xsd:element name="NotifyOfCdcBioPackage" type="tns:NotifyOfCdcBioPackageType"/>
-->
        <!-- end CdcBioPackage messages -->
    <xsd:complexType name="UnsubscribeType">
        <xsd:sequence>
            <xsd:element name="subscriptionReference" type="tns:SubscriptionReferenceType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Unsubscribe" type="tns:UnsubscribeType">
    </xsd:element>
<!--
    <xsd:complexType name="NotifyOfDocumentType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element ref="rim:RegistryObjectList" minOccurs="0"/>
            <xsd:element name="Notify" type="tns:NotifyDocumentType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifyOfDocument" type="tns:NotifyOfDocumentType">
    </xsd:element>
    <xsd:element name="NotifySubscribersOfDocument" type="tns:NotifyOfDocumentType">
    </xsd:element>
-->
    <xsd:complexType name="EmptyType">
        <xsd:sequence>
            <xsd:element name="notUsed" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="Empty" type="tns:EmptyType">
    </xsd:element>
    <xsd:complexType name="AckInputType">
        <xsd:sequence>
            <xsd:element name="notUsed" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="AckInput" type="tns:AckInputType">
    </xsd:element>
    <xsd:complexType name="DeleteSubscriptionMessageRequestType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DeleteSubscriptionMessageRequest" type="tns:DeleteSubscriptionMessageRequestType">
    </xsd:element>
    <xsd:complexType name="RetrieveBySubscriptionReferenceRequestMessageType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RetrieveBySubscriptionReferenceRequestMessage" type="tns:RetrieveBySubscriptionReferenceRequestMessageType">
    </xsd:element>
    <xsd:complexType name="RetrieveByParentSubscriptionReferenceMessageType">
        <xsd:sequence>
            <xsd:element name="SubscriptionReference" type="tns:SubscriptionReferenceType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RetrieveByParentSubscriptionReferenceMessage" type="tns:RetrieveByParentSubscriptionReferenceMessageType">
    </xsd:element>
    <xsd:complexType name="UpdateCppRequestType">
        <xsd:sequence>
            <xsd:element name="assertion" type="nccommon:AssertionType"/>
            <xsd:element name="RetrieveDocumentSetRequest" type="ihe:RetrieveDocumentSetRequestType"/>
            <xsd:element name="ExtrinsicObject" type="rim:ExtrinsicObjectType"/>
            <xsd:element name="optInOutFlag" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UpdateCppRequest" type="tns:UpdateCppRequestType">
    </xsd:element>
    <xsd:complexType name="UpdateCppResponseType">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="UpdateCppResponse" type="tns:UpdateCppResponseType">
    </xsd:element>
    <xsd:complexType name="InternalNhieUnsubscribeType">
        <xsd:sequence>
            <xsd:element ref="tns:SubscriptionReference"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InternalNhieUnsubscribe" type="tns:InternalNhieUnsubscribeType">
    </xsd:element>
    <xsd:complexType name="InternalNhieUnsubscribeResponseType">
        <xsd:sequence>
            <xsd:element name="notUsed" type="xsd:string">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InternalNhieUnsubscribeResponse" type="tns:InternalNhieUnsubscribeResponseType">
    </xsd:element>
    <xsd:complexType name="NotifyWrapperType">
        <xsd:sequence>
            <xsd:element name="Assertion" type="nccommon:AssertionType"/>
            <xsd:element ref="wsnt:Notify"/>
            <xsd:element name="TargetHomeCommunity" type="nccommon:HomeCommunityType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifyWrapper" type="tns:NotifyWrapperType"/>
    <xsd:complexType name="TopicExpressionType">
        <xsd:simpleContent>
            <xsd:extension base="tns:TopicExpressionValue">
                <xsd:attribute name="Dialect" use="required">
                    <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                            <xsd:enumeration value="text"/>
                        </xsd:restriction>
                    </xsd:simpleType>
                </xsd:attribute>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:element name="TopicExpression" type="tns:TopicExpressionType"/>
    <xsd:simpleType name="TopicExpressionValue">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="SubscriptionPolicyType">
        <xsd:sequence>
            <xsd:element name="GenericPolicyItems" type="tns:KeyValuePairListType" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscriptionPolicy" type="tns:SubscriptionPolicyType"/>
    <xsd:complexType name="KeyValuePairType">
        <xsd:sequence>
            <xsd:element name="Key" type="xsd:string"/>
            <xsd:element name="Value" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="KeyValuePair" type="tns:KeyValuePairType"/>
    <xsd:complexType name="KeyValuePairListType">
        <xsd:sequence>
            <xsd:element name="KeyValuePair" type="tns:KeyValuePairType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="KeyValuePairList" type="tns:KeyValuePairListType"/>
    <xsd:complexType name="SubscribeDocumentType">
        <xsd:sequence>
            <xsd:element name="ConsumerReference" type="addr:EndpointReferenceType">
            </xsd:element>
            <xsd:element name="AdhocQuery" type="rim:AdhocQueryType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeDocument" type="tns:SubscribeDocumentType">
    </xsd:element>
<!--    
    <xsd:complexType name="NotificationMessageHolderType">
        <xsd:sequence>
            <xsd:element ref="wsnt:SubscriptionReference" minOccurs="0"/>
            <xsd:element name="Message">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotificationMessageHolder" type="tns:NotificationMessageHolderType">
    </xsd:element>
    <xsd:complexType name="NotifyDocumentType">
        <xsd:sequence>
            <xsd:element name="NotificationMessage" type="tns:NotificationMessageHolderType" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NotifyDocument" type="tns:NotifyDocumentType">
    </xsd:element>
    <xsd:complexType name="SubscribeBioPackageType">
        <xsd:sequence>
            <xsd:element ref="wsnt:ConsumerReference" minOccurs="0"/>
            <xsd:element ref="wsnt:Filter" minOccurs="0"/>
            <xsd:element name="SubscriptionPolicy" type="subb2obcdc:SubscriptionPolicyType">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="SubscribeBioPackage" type="tns:SubscribeBioPackageType">
    </xsd:element>
-->
<xsd:complexType name="MessageTypesType">
        <xsd:sequence>
            <xsd:element name="MessageType" type="xsd:string" maxOccurs="unbounded" minOccurs="0">
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="MessageTypes" type="tns:MessageTypesType">
    </xsd:element>
</xsd:schema>
