Services/DSAServiceWeb/src/wsdl/DSAIntegration.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*****************************************************************************************************************
  ~  *
  ~  * Copyright (C) 2012 by Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com)
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
  ~  * with the License. You may obtain a copy of the License at
  ~  *
  ~  *     http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software distributed under the License is
  ~  * distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and limitations under the License.
  ~  *
  ~  *****************************************************************************************************************/
  ~
  ~ /*****************************************************************************************************************
  ~  * Socratic Grid contains components to which third party terms apply. To comply with these terms, the following
  ~  * notice is provided:
  ~  *
  ~  * TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
  ~  * Copyright (c) 2008, Nationwide Health Information Network (NHIN) Connect. All rights reserved.
  ~  * Redistribution and use in source and binary forms, with or without modification, are permitted provided that
  ~  * the following conditions are met:
  ~  *
  ~  * - Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~  *     following disclaimer.
  ~  * - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
  ~  *     following disclaimer in the documentation and/or other materials provided with the distribution.
  ~  * - Neither the name of the NHIN Connect Project nor the names of its contributors may be used to endorse or
  ~  *     promote products derived from this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~  * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~  * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~  * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
  ~  * EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  *
  ~  * END OF TERMS AND CONDITIONS
  ~  *
  ~  *****************************************************************************************************************/
  -->

<!--
  Display Data Aggregator WSDL
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   xmlns:dda="urn:org:socraticgrid:dsa"
   name="DSAIntegration"
   targetNamespace="urn:org:socraticgrid:dsa"
   xmlns:tns="urn:org:socraticgrid:dsa">
    <documentation>DSA Integration</documentation>
    <types>
        <xsd:schema>
            <xsd:import namespace="urn:org:socraticgrid:dsa"
                schemaLocation="DSAIntegration.xsd"/>
        </xsd:schema>
    </types>
    <message name="DeliverMessageRequestMessage">
        <part name="DeliverMessageRequest"
            element="dda:DeliverMessageRequest"/>
    </message>
    <message name="DeliverMessageResponseMessage">
        <part name="DeliverMessageResponse"
          element="dda:DeliverMessageResponse"/>
    </message>
    <message name="GetDirectoryAttributeRequestMessage">
        <part name="GetDirectoryAttributeRequest" element="dda:GetDirectoryAttributeRequest"/>
    </message>
    <message name="GetDirectoryAttributeResponseMessage">
        <part name="GetDirectoryAttributeResponse"
        element="dda:GetDirectoryAttributeResponse"/>
    </message>
        
    <portType name="DSAIntegrationPortType">
        <operation name="DeliverMessage">
            <input name="DeliverMessageRequest"
               message="tns:DeliverMessageRequestMessage" />
            <output name="DeliverMessageResponse"
                message="tns:DeliverMessageResponseMessage"/>
        </operation>
        <operation name="GetDirectoryAttribute">
            <input name="GetDirectoryAttributeRequest"
               message="tns:GetDirectoryAttributeRequestMessage" />
            <output name="GetDirectoryAttributeResponse"
                message="tns:GetDirectoryAttributeResponseMessage"/>
        </operation>
    </portType>

    <binding name="DSAIntegrationBindingSoap11" type="tns:DSAIntegrationPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="DeliverMessage">
            <soap:operation soapAction="urn:DeliverMessage"/>
            <input name="DeliverMessageRequest">
                <soap:body use="literal"/>
            </input>
            <output name="DeliverMessageResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetDirectoryAttribute">
            <soap:operation soapAction="urn:GetDirectoryAttribute"/>
            <input name="GetDirectoryAttributeRequest">
                <soap:body use="literal"/>
            </input>
            <output name="GetDirectoryAttributeResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <service name="DSAIntegration">
        <port name="DSAIntegrationPortSoap11"
          binding="tns:DSAIntegrationBindingSoap11">
            <soap:address
         location="http://localhost:${HttpDefaultPort}/DSAServiceWeb/DSAIntegration" />
        </port>
    </service>
</definitions>
