Services/Common/AdapterFactServiceLib/src/schemas/nhinc/common/CommonDataLayerFact.xsd

<?xml version='1.0' encoding='UTF-8'?><!--
  ~ /*****************************************************************************************************************
  ~  *
  ~  * Copyright (C) 2012 by Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com)
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
  ~  * with the License. You may obtain a copy of the License at
  ~  *
  ~  *     http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software distributed under the License is
  ~  * distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and limitations under the License.
  ~  *
  ~  *****************************************************************************************************************/
  ~
  ~ /*****************************************************************************************************************
  ~  * Socratic Grid contains components to which third party terms apply. To comply with these terms, the following
  ~  * notice is provided:
  ~  *
  ~  * TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
  ~  * Copyright (c) 2008, Nationwide Health Information Network (NHIN) Connect. All rights reserved.
  ~  * Redistribution and use in source and binary forms, with or without modification, are permitted provided that
  ~  * the following conditions are met:
  ~  *
  ~  * - Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~  *     following disclaimer.
  ~  * - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
  ~  *     following disclaimer in the documentation and/or other materials provided with the distribution.
  ~  * - Neither the name of the NHIN Connect Project nor the names of its contributors may be used to endorse or
  ~  *     promote products derived from this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~  * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~  * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~  * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
  ~  * EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  *
  ~  * END OF TERMS AND CONDITIONS
  ~  *
  ~  *****************************************************************************************************************/
  -->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. -->
<xs:schema xmlns:tns="urn:org:socraticgrid:adapter:factservice" xmlns:ns1="urn:org:socraticgrid:adapter:fact" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:org:socraticgrid:adapter:factservice">

   <xs:import namespace="urn:org:socraticgrid:adapter:fact" schemaLocation="../../../schemas/nhinc/common/CommonDataLayerFactTypes.xsd"/>

   <xs:element name="FaultMessage" nillable="true" type="tns:fault" />

   <xs:element name="GetAdmissionFacts" type="tns:GetAdmissionFacts" />

   <xs:element name="GetAdmissionFactsResponse" type="tns:GetAdmissionFactsResponse" />

   <xs:element name="GetAllergyFacts" type="tns:GetAllergyFacts" />

   <xs:element name="GetAllergyFactsResponse" type="tns:GetAllergyFactsResponse" />

   <xs:element name="GetAppointmentFacts" type="tns:GetAppointmentFacts" />

   <xs:element name="GetAppointmentFactsResponse" type="tns:GetAppointmentFactsResponse" />

   <xs:element name="GetAppointmentScheduleFacts" type="tns:GetAppointmentScheduleFacts" />

   <xs:element name="GetAppointmentScheduleFactsResponse" type="tns:GetAppointmentScheduleFactsResponse" />

   <xs:element name="GetDemographicsFact" type="tns:GetDemographicsFact" />

   <xs:element name="GetDemographicsFactResponse" type="tns:GetDemographicsFactResponse" />

   <xs:element name="GetEncounterDetailFacts" type="tns:GetEncounterDetailFacts" />

   <xs:element name="GetEncounterDetailFactsResponse" type="tns:GetEncounterDetailFactsResponse" />

   <xs:element name="GetEncounterFacts" type="tns:GetEncounterFacts" />

   <xs:element name="GetEncounterFactsResponse" type="tns:GetEncounterFactsResponse" />

   <xs:element name="GetImagingResultFacts" type="tns:GetImagingResultFacts" />

   <xs:element name="GetImagingResultFactsResponse" type="tns:GetImagingResultFactsResponse" />

   <xs:element name="GetImmunizationFacts" type="tns:GetImmunizationFacts" />

   <xs:element name="GetImmunizationFactsResponse" type="tns:GetImmunizationFactsResponse" />

   <xs:element name="GetInsuranceFacts" type="tns:GetInsuranceFacts" />

   <xs:element name="GetInsuranceFactsResponse" type="tns:GetInsuranceFactsResponse" />

   <xs:element name="GetMedicationFacts" type="tns:GetMedicationFacts" />

   <xs:element name="GetMedicationFactsResponse" type="tns:GetMedicationFactsResponse" />

   <xs:element name="GetOrderFacts" type="tns:GetOrderFacts" />

   <xs:element name="GetOrderFactsResponse" type="tns:GetOrderFactsResponse" />

   <xs:element name="GetPatientFacts" type="tns:GetPatientFacts" />

   <xs:element name="GetPatientFactsResponse" type="tns:GetPatientFactsResponse" />

   <xs:element name="GetProblemFacts" type="tns:GetProblemFacts" />

   <xs:element name="GetProblemFactsResponse" type="tns:GetProblemFactsResponse" />

   <xs:element name="GetProcedureFacts" type="tns:GetProcedureFacts" />

   <xs:element name="GetProcedureFactsResponse" type="tns:GetProcedureFactsResponse" />

   <xs:element name="GetProviderFacts" type="tns:GetProviderFacts" />

   <xs:element name="GetProviderFactsResponse" type="tns:GetProviderFactsResponse" />

   <xs:element name="GetRegistryFacts" type="tns:GetRegistryFacts" />

   <xs:element name="GetRegistryFactsResponse" type="tns:GetRegistryFactsResponse" />

   <xs:element name="GetSupportContactFacts" type="tns:GetSupportContactFacts" />

   <xs:element name="GetSupportContactFactsResponse" type="tns:GetSupportContactFactsResponse" />

   <xs:element name="GetTestResultEventFacts" type="tns:GetTestResultEventFacts" />

   <xs:element name="GetTestResultEventFactsResponse" type="tns:GetTestResultEventFactsResponse" />

   <xs:element name="GetTestResultFacts" type="tns:GetTestResultFacts" />

   <xs:element name="GetTestResultFactsResponse" type="tns:GetTestResultFactsResponse" />

   <xs:element name="GetVitalsFacts" type="tns:GetVitalsFacts" />

   <xs:element name="GetVitalsFactsResponse" type="tns:GetVitalsFactsResponse" />

   <xs:element name="RecordLabOrder" type="tns:RecordLabOrder" />

   <xs:element name="RecordLabOrderResponse" type="tns:RecordLabOrderResponse" />

   <xs:complexType name="GetOrderFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetOrderFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="fault">
      <xs:sequence>
         <xs:element name="faultCode" type="xs:string" minOccurs="0" />
         <xs:element name="faultMessage" type="xs:string" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetTestResultEventFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetTestResultEventFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetPatientFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetPatientFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetImagingResultFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetImagingResultFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAllergyFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAllergyFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RecordLabOrder">
      <xs:sequence>
         <xs:element ref="ns1:RecordOrderRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="RecordLabOrderResponse">
      <xs:sequence>
         <xs:element ref="ns1:RecordOrderResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetEncounterFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetEncounterFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAdmissionFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAdmissionFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetProcedureFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetProcedureFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetRegistryFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetRegistryFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetInsuranceFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetInsuranceFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetProviderFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetProviderFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetEncounterDetailFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetEncounterDetailFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetDemographicsFact">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetDemographicsFactResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAppointmentScheduleFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAppointmentScheduleFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetProblemFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetProblemFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetTestResultFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetTestResultFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetImmunizationFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetImmunizationFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetVitalsFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetVitalsFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAppointmentFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetAppointmentFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetMedicationFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetMedicationFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetSupportContactFacts">
      <xs:sequence>
         <xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>

   <xs:complexType name="GetSupportContactFactsResponse">
      <xs:sequence>
         <xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>