Services/XDSManagerWeb/src/schemas/nhinc/common/NhincCommonEntity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*****************************************************************************************************************
  ~  *
  ~  * Copyright (C) 2012 by Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com)
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
  ~  * with the License. You may obtain a copy of the License at
  ~  *
  ~  *     http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software distributed under the License is
  ~  * distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and limitations under the License.
  ~  *
  ~  *****************************************************************************************************************/
  ~
  ~ /*****************************************************************************************************************
  ~  * Socratic Grid contains components to which third party terms apply. To comply with these terms, the following
  ~  * notice is provided:
  ~  *
  ~  * TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
  ~  * Copyright (c) 2008, Nationwide Health Information Network (NHIN) Connect. All rights reserved.
  ~  * Redistribution and use in source and binary forms, with or without modification, are permitted provided that
  ~  * the following conditions are met:
  ~  *
  ~  * - Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~  *     following disclaimer.
  ~  * - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
  ~  *     following disclaimer in the documentation and/or other materials provided with the distribution.
  ~  * - Neither the name of the NHIN Connect Project nor the names of its contributors may be used to endorse or
  ~  *     promote products derived from this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~  * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~  * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~  * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
  ~  * EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  *
  ~  * END OF TERMS AND CONDITIONS
  ~  *
  ~  *****************************************************************************************************************/
  -->

<xsd:schema
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:gov:hhs:fha:nhinc:common:nhinccommonentity"
    xmlns:hl7="urn:hl7-org:v3"
    xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
    xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0"
    xmlns:ihe="urn:ihe:iti:xds-b:2007"
    xmlns:iheaudit="http://nhinc.services.com/schema/auditmessage"
    xmlns:wsnt="http://docs.oasis-open.org/wsn/b-2"
    xmlns:nccommon="urn:gov:hhs:fha:nhinc:common:nhinccommon"
    xmlns:rim="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0"
    xmlns:subb2obcdc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc"
    xmlns:subb2obdoc="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments"
    xmlns:ncsub="urn:gov:hhs:fha:nhinc:common:subscription"
    xmlns:edxlde="urn:oasis:names:tc:emergency:EDXL:DE:1.0"
    targetNamespace="urn:gov:hhs:fha:nhinc:common:nhinccommonentity"
    elementFormDefault="qualified">
        
	<xsd:import namespace="urn:gov:hhs:fha:nhinc:common:nhinccommon" schemaLocation="NhincCommon.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="../../ebRS/query.xsd"/>
    <xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="../../ebRS/rs.xsd"/>
	<xsd:import namespace="urn:ihe:iti:xds-b:2007" schemaLocation="../../ihe/XDS.b_DocumentRepository.xsd"/>
	<xsd:import namespace="http://nhinc.services.com/schema/auditmessage" schemaLocation="../../ihe/auditmessage.xsd"/>
	<xsd:import namespace="http://docs.oasis-open.org/wsn/b-2" schemaLocation="../../docs.oasis-open.org/wsn/b-2.xsd"/>
	<xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscription" schemaLocation="../../../schemas/nhinc/common/Subscription.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" schemaLocation="../../../schemas/ebRS/rim.xsd"/>
	<xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overrideforcdc" schemaLocation="../../../schemas/nhinc/common/SubscriptionB2OverrideForCdc.xsd"/>
	<xsd:import namespace="urn:gov:hhs:fha:nhinc:common:subscriptionb2overridefordocuments" schemaLocation="../../../schemas/nhinc/common/SubscriptionB2OverrideForDocuments.xsd"/>
	<xsd:import namespace="urn:oasis:names:tc:emergency:EDXL:DE:1.0" schemaLocation="../../../schemas/ebRS/edxl-de.xsd"/>
	<!-- ====================================================================
         Document Query Schemas.
         ==================================================================== -->
	<xsd:complexType name="RespondingGateway_CrossGatewayQueryRequestType">
		<xsd:sequence>
			<xsd:element ref="query:AdhocQueryRequest"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayQueryRequest" type="tns:RespondingGateway_CrossGatewayQueryRequestType"/>
	
	<xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseType">
		<xsd:sequence>
			<xsd:element ref="query:AdhocQueryResponse"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayQueryResponse" type="tns:RespondingGateway_CrossGatewayQueryResponseType"/>
	
	<xsd:complexType name="RespondingGateway_CrossGatewayQueryResponseSecuredType">
		<xsd:sequence>
			<xsd:element ref="query:AdhocQueryResponse"/>			
			<xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayQueryResponseSecured" type="tns:RespondingGateway_CrossGatewayQueryResponseSecuredType"/>	
	
	<xsd:complexType name="RespondingGateway_CrossGatewayQuerySecuredRequestType">
		<xsd:sequence>
			<xsd:element ref="query:AdhocQueryRequest"/>
			<xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayQuerySecuredRequest" type="tns:RespondingGateway_CrossGatewayQuerySecuredRequestType"/>
	<!-- ====================================================================
         Document Retrieve Schemas.
         ==================================================================== -->
	<xsd:complexType name="RespondingGateway_CrossGatewayRetrieveRequestType">
		<xsd:sequence>
			<xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
                        <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayRetrieveRequest" type="tns:RespondingGateway_CrossGatewayRetrieveRequestType"/>
        <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredRequestType">
		<xsd:sequence>
			<xsd:element ref="ihe:RetrieveDocumentSetRequest"/>
                        <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredRequest" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredRequestType"/>
        <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveResponseType">
		<xsd:sequence>
			<xsd:element ref="ihe:RetrieveDocumentSetResponse"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
                        <xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayRetrieveResponse" type="tns:RespondingGateway_CrossGatewayRetrieveResponseType"/>
        <xsd:complexType name="RespondingGateway_CrossGatewayRetrieveSecuredResponseType">
		<xsd:sequence>
			<xsd:element ref="ihe:RetrieveDocumentSetResponse"/>
			<xsd:element name="NhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_CrossGatewayRetrieveSecuredResponse" type="tns:RespondingGateway_CrossGatewayRetrieveSecuredResponseType"/>
	<!-- ====================================================================
         Audit Log Schemas.
         ==================================================================== -->
	<xsd:complexType name="FindAuditEventsRequestType">
		<xsd:sequence>
			<xsd:element ref="iheaudit:FindAuditEvents"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FindAuditEventsRequest" type="tns:FindAuditEventsRequestType"/>
	<xsd:complexType name="FindAuditEventsSecuredRequestType">
		<xsd:sequence>
			<xsd:element ref="iheaudit:FindAuditEvents"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="FindAuditEventsSecuredRequest" type="tns:FindAuditEventsSecuredRequestType"/>
	<!-- ====================================================================
         Subscription Management Schemas.
         ==================================================================== -->
	<!-- i think this could be removed -->
	<xsd:complexType name="SubscribeRequestType">
		<xsd:sequence>
			<xsd:element ref="wsnt:Subscribe"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubscribeRequest" type="tns:SubscribeRequestType"/>
	<xsd:complexType name="SubscribeRequestSecuredType">
		<xsd:sequence>
			<xsd:element ref="wsnt:Subscribe"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubscribeRequestSecured" type="tns:SubscribeRequestSecuredType"/>
	<xsd:complexType name="SubscribeDocumentRequestType">
		<xsd:sequence>
			<xsd:element name="subscribe" type="subb2obdoc:SubscribeDocumentType"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubscribeDocumentRequest" type="tns:SubscribeDocumentRequestType"/>
	<xsd:complexType name="SubscribeDocumentRequestSecuredType">
		<xsd:sequence>
			<xsd:element name="subscribe" type="subb2obdoc:SubscribeDocumentType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubscribeDocumentRequestSecured" type="tns:SubscribeDocumentRequestSecuredType"/>
	<xsd:complexType name="SubscribeCdcBioPackageRequestType">
		<xsd:sequence>
			<xsd:element name="subscribe" type="subb2obcdc:SubscribeCdcBioPackageType"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubscribeCdcBioPackageRequest" type="tns:SubscribeCdcBioPackageRequestType"/>
	<xsd:complexType name="SubscribeDocumentResponseType">
		<xsd:sequence>
			<xsd:element ref="wsnt:SubscribeResponse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubscribeDocumentResponse" type="tns:SubscribeDocumentResponseType"/>
	<xsd:complexType name="SubscribeCdcBioPackageResponseType">
		<xsd:sequence>
			<xsd:element ref="wsnt:SubscribeResponse"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SubscribeCdcBioPackageResponse" type="tns:SubscribeCdcBioPackageResponseType"/>
	<xsd:complexType name="UnsubscribeRequestType">
		<xsd:sequence>
			<xsd:element ref="wsnt:Unsubscribe"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="UnsubscribeRequest" type="tns:UnsubscribeRequestType"/>
	<!-- ====================================================================
         Notification Schemas.
         ==================================================================== -->
	<xsd:complexType name="NotifySubscribersOfDocumentRequestType">
		<xsd:sequence>
			<xsd:element name="notify" type="subb2obdoc:NotifyDocumentType"/>
			<xsd:element ref="rim:RegistryObjectList" minOccurs="0"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifySubscribersOfDocumentRequest" type="tns:NotifySubscribersOfDocumentRequestType"/>
	<xsd:complexType name="NotifySubscribersOfDocumentRequestSecuredType">
		<xsd:sequence>
			<xsd:element name="notify" type="subb2obdoc:NotifyDocumentType"/>
			<xsd:element ref="rim:RegistryObjectList" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifySubscribersOfDocumentRequestSecured" type="tns:NotifySubscribersOfDocumentRequestSecuredType"/>
	<xsd:complexType name="NotifySubscribersOfCdcBioPackageRequestType">
		<xsd:sequence>
			<xsd:element name="notify" type="subb2obcdc:NotifyCdcBioPackageType"/>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifySubscribersOfCdcBioPackageRequest" type="tns:NotifySubscribersOfCdcBioPackageRequestType"/>
	<xsd:complexType name="NotifyRequestType">
		<xsd:sequence>
			<xsd:element ref="wsnt:Notify"/>
			<xsd:element name="Assertion" type="nccommon:AssertionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="NotifyRequest" type="tns:NotifyRequestType"/>

	<xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetRequestType">
		<xsd:sequence>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
			<xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType"/>
                        <xsd:element name="url" type="nccommon:UrlInfoType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetRequestType"/>

        <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType">
		<xsd:sequence>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
			<xsd:element name="ProvideAndRegisterDocumentSetRequest" type="ihe:ProvideAndRegisterDocumentSetRequestType"/>
                        <xsd:element name="url" type="nccommon:UrlInfoType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredRequestType"/>

        <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType">
		<xsd:sequence>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
			<xsd:element name="RegistryResponse" type="rs:RegistryResponseType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetResponseRequestType"/>

        <xsd:complexType name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType">
		<xsd:sequence>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
			<xsd:element name="RegistryResponse" type="rs:RegistryResponseType"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequest" type="tns:RespondingGateway_ProvideAndRegisterDocumentSetSecuredResponseRequestType"/>
	
	
	
  <xsd:complexType name="RespondingGateway_SendAlertMessageType">
		<xsd:sequence>
			<xsd:element name="assertion" type="nccommon:AssertionType"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>
		 <xsd:element ref="edxlde:EDXLDistribution"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_SendAlertMessage" type="tns:RespondingGateway_SendAlertMessageType"/>

	 <xsd:complexType name="RespondingGateway_SendAlertMessageSecuredType">
		<xsd:sequence>
			<xsd:element ref="edxlde:EDXLDistribution"/>
			<xsd:element name="nhinTargetCommunities" type="nccommon:NhinTargetCommunitiesType" minOccurs="0"/>		 
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="RespondingGateway_SendAlertMessageSecured" type="tns:RespondingGateway_SendAlertMessageSecuredType"/>
</xsd:schema>


