Common/TaskExecHandler/src/wsdl/RegistriesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!--
  ~ /*****************************************************************************************************************
  ~  *
  ~  * Copyright (C) 2012 by Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com)
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
  ~  * with the License. You may obtain a copy of the License at
  ~  *
  ~  *     http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software distributed under the License is
  ~  * distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and limitations under the License.
  ~  *
  ~  *****************************************************************************************************************/
  ~
  ~ /*****************************************************************************************************************
  ~  * Socratic Grid contains components to which third party terms apply. To comply with these terms, the following
  ~  * notice is provided:
  ~  *
  ~  * TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
  ~  * Copyright (c) 2008, Nationwide Health Information Network (NHIN) Connect. All rights reserved.
  ~  * Redistribution and use in source and binary forms, with or without modification, are permitted provided that
  ~  * the following conditions are met:
  ~  *
  ~  * - Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~  *     following disclaimer.
  ~  * - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
  ~  *     following disclaimer in the documentation and/or other materials provided with the distribution.
  ~  * - Neither the name of the NHIN Connect Project nor the names of its contributors may be used to endorse or
  ~  *     promote products derived from this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~  * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~  * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~  * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
  ~  * EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  *
  ~  * END OF TERMS AND CONDITIONS
  ~  *
  ~  *****************************************************************************************************************/
  -->

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><wsdl:definitions xmlns:tns="urn:mil:navy:med:dzreg:service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns1="urn:mil:navy:med:dzreg:types" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" name="RegistriesService" targetNamespace="urn:mil:navy:med:dzreg:service">
	<wsdl:documentation>
     WSDL for Registries Service
  </wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:mil:navy:med:dzreg:service">
			<xsd:import namespace="urn:mil:navy:med:dzreg:types" schemaLocation="../schemas/nhinc/kmr/RegistryTypes.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetRegistryProfileRequest">
		<wsdl:part name="parameters" element="ns1:PersonRegistryProfileRequest" />
	</wsdl:message>
	<wsdl:message name="GetRegistryProfileResponse">
		<wsdl:part name="parameters" element="ns1:PersonRegistryProfileResponse" />
	</wsdl:message>
	<wsdl:message name="RegisterProfileRequest">
		<wsdl:part name="parameters" element="ns1:RegisterPersonRequest" />
	</wsdl:message>
	<wsdl:message name="RegisterProfileResponse">
		<wsdl:part name="parameters" element="ns1:ResponseAck" />
	</wsdl:message>	
	<wsdl:message name="UnregisterProfileRequest">
		<wsdl:part name="parameters" element="ns1:UnregisterPersonRequest" />
	</wsdl:message>
	<wsdl:message name="UnregisterProfileResponse">
		<wsdl:part name="parameters" element="ns1:ResponseAck" />
	</wsdl:message>		
	<wsdl:portType name="RegistriesServicePortType">
		<wsdl:operation name="GetRegistryProfile">
			<wsdl:input message="tns:GetRegistryProfileRequest" />
			<wsdl:output message="tns:GetRegistryProfileResponse" />
		</wsdl:operation>
		<wsdl:operation name="Register">
			<wsdl:input message="tns:RegisterProfileRequest" />
			<wsdl:output message="tns:RegisterProfileResponse" />
		</wsdl:operation>		
		<wsdl:operation name="Unregister">
			<wsdl:input message="tns:UnregisterProfileRequest" />
			<wsdl:output message="tns:UnregisterProfileResponse" />
		</wsdl:operation>		
	</wsdl:portType>
	<wsdl:binding name="RegistriesServicePortTypeBinding" type="tns:RegistriesServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="GetRegistryProfile">
			<soap:operation soapAction="urn:GetRegistryProfile" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Register">
			<soap:operation soapAction="urn:Register" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>		
		<wsdl:operation name="Unregister">
			<soap:operation soapAction="urn:Unregister" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>				
	</wsdl:binding>
	<wsdl:service name="RegistriesService">
		<wsdl:port name="RegistriesServicePort" binding="tns:RegistriesServicePortTypeBinding">
			<soap:address location="http://localhost:${HttpDefaultPort}/Registries/RegistriesServicePort" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>