Services/DisplayDataAggregatorWeb/src/main/webapp/WEB-INF/wsdl/DisplayDataComponent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*****************************************************************************************************************
  ~  *
  ~  * Copyright (C) 2012 by Cognitive Medical Systems, Inc (http://www.cognitivemedciine.com)
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance
  ~  * with the License. You may obtain a copy of the License at
  ~  *
  ~  *     http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software distributed under the License is
  ~  * distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and limitations under the License.
  ~  *
  ~  *****************************************************************************************************************/
  ~
  ~ /*****************************************************************************************************************
  ~  * Socratic Grid contains components to which third party terms apply. To comply with these terms, the following
  ~  * notice is provided:
  ~  *
  ~  * TERMS AND CONDITIONS FOR USE, REPRODUCTION, AND DISTRIBUTION
  ~  * Copyright (c) 2008, Nationwide Health Information Network (NHIN) Connect. All rights reserved.
  ~  * Redistribution and use in source and binary forms, with or without modification, are permitted provided that
  ~  * the following conditions are met:
  ~  *
  ~  * - Redistributions of source code must retain the above copyright notice, this list of conditions and the
  ~  *     following disclaimer.
  ~  * - Redistributions in binary form must reproduce the above copyright notice, this list of conditions and the
  ~  *     following disclaimer in the documentation and/or other materials provided with the distribution.
  ~  * - Neither the name of the NHIN Connect Project nor the names of its contributors may be used to endorse or
  ~  *     promote products derived from this software without specific prior written permission.
  ~  *
  ~  * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR IMPLIED
  ~  * WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
  ~  * PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
  ~  * ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
  ~  * PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION HOWEVER
  ~  * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
  ~  * OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
  ~  * EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  ~  *
  ~  * END OF TERMS AND CONDITIONS
  ~  *
  ~  *****************************************************************************************************************/
  -->

<!--
  Display Data Component WSDL
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   xmlns:dda="urn:org:socraticgrid:common:dda"
   name="DisplayDataComponent"
   targetNamespace="urn:org:socraticgrid:aggregator"
   xmlns:tns="urn:org:socraticgrid:aggregator">
    <documentation>Display Data Component</documentation>
    <types>
        <xsd:schema>
            <xsd:import namespace="urn:org:socraticgrid:common:dda"
                  schemaLocation="../schemas/nhinc/common/DisplayDataAggregator.xsd"/>
        </xsd:schema>
    </types>
  
    <message name="GetDataSourceNameRequestMessage">
        <part name="GetDataSourceNameRequest"
          element="dda:GetDataSourceNameRequest"/>
    </message>
    <message name="GetDataSourceNameResponseMessage">
        <part name="GetDataSourceNameResponse"
          element="dda:GetDataSourceNameResponse"/>
    </message>
    <message name="UpdateComponentInboxStatusRequestMessage">
        <part name="UpdateComponentInboxStatusRequest"
          element="dda:UpdateComponentInboxStatusRequest"/>
    </message>
    <message name="UpdateComponentInboxStatusResponseMessage">
        <part name="UpdateComponentInboxStatusResponse"
          element="dda:UpdateComponentInboxStatusResponse"/>
    </message>
    <message name="GetComponentDetailDataForUserRequestMessage">
        <part name="GetComponentDetailDataForUserRequest"
          element="dda:GetComponentDetailDataForUserRequest"/>
    </message>
    <message name="GetComponentDetailDataForUserResponseMessage">
        <part name="GetComponentDetailDataForUserResponse"
          element="dda:GetComponentDetailDataForUserResponse"/>
    </message>
    <message name="GetComponentSummaryDataForUserRequestMessage">
        <part name="GetComponentSummaryDataForUserRequest"
          element="dda:GetComponentSummaryDataForUserRequest"/>
    </message>
    <message name="GetComponentSummaryDataForUserResponseMessage">
        <part name="GetComponentSummaryDataForUserResponse"
          element="dda:GetComponentSummaryDataForUserResponse"/>
    </message>
    <message name="SetMessageRequestTypeMessage">
        <part name="SetMessageRequestType"
          element="dda:SetMessageRequest"/>
    </message>
    <message name="SetMessageResponseTypeMessage">
        <part name="SetMessageResponseType"
          element="dda:SetMessageResponse"/>
    </message>
    <message name="GetMessagesRequestTypeMessage">
        <part name="GetMessagesRequestType"
          element="dda:GetMessagesRequest"/>
    </message>
    <message name="GetMessagesResponseTypeMessage">
        <part name="GetMessagesResponseType"
          element="dda:GetMessagesResponse"/>
    </message>

    <portType name="DisplayDataComponentPortType">
        <operation name="GetDataSourceName">
            <input name="GetDataSourceNameRequest"
             message="tns:GetDataSourceNameRequestMessage" />
            <output name="GetDataSourceNameResponse"
              message="tns:GetDataSourceNameResponseMessage" />
        </operation>
        <operation name="UpdateComponentInboxStatus">
            <input name="UpdateComponentInboxStatusRequest"
             message="tns:UpdateComponentInboxStatusRequestMessage" />
            <output name="UpdateComponentInboxStatusResponse"
              message="tns:UpdateComponentInboxStatusResponseMessage" />
        </operation>
        <operation name="GetComponentDetailDataForUser">
            <input name="GetComponentDetailDataForUserRequest"
             message="tns:GetComponentDetailDataForUserRequestMessage" />
            <output name="GetComponentDetailDataForUserResponse"
              message="tns:GetComponentDetailDataForUserResponseMessage" />
        </operation>
        <operation name="GetComponentSummaryDataForUser">
            <input name="GetComponentSummaryDataForUserRequest"
             message="tns:GetComponentSummaryDataForUserRequestMessage" />
            <output name="GetComponentSummaryDataForUserResponse"
              message="tns:GetComponentSummaryDataForUserResponseMessage" />
        </operation>
        <operation name="SetMessage">
            <input name="SetMessageRequestType"
             message="tns:SetMessageRequestTypeMessage" />
            <output name="SetMessageResponseType"
              message="tns:SetMessageResponseTypeMessage" />
        </operation>
        <operation name="GetMessages">
            <input name="GetMessagesRequestType"
             message="tns:GetMessagesRequestTypeMessage" />
            <output name="GetMessagesResponseType"
              message="tns:GetMessagesResponseTypeMessage" />
        </operation>

    </portType>
  
    <binding name="DisplayDataComponentBindingSoap11" type="tns:DisplayDataComponentPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetDataSourceName">
            <soap:operation soapAction="urn:GetDataSourceName"/>
            <input name="GetDataSourceNameRequest">
                <soap:body use="literal"/>
            </input>
            <output name="GetDataSourceNameResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateComponentInboxStatus">
            <soap:operation soapAction="urn:UpdateComponentInboxStatus"/>
            <input name="UpdateComponentInboxStatusRequest">
                <soap:body use="literal"/>
            </input>
            <output name="UpdateComponentInboxStatusResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetComponentDetailDataForUser">
            <soap:operation soapAction="urn:GetComponentDetailDataForUser"/>
            <input name="GetComponentDetailDataForUserRequest">
                <soap:body use="literal"/>
            </input>
            <output name="GetComponentDetailDataForUserResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetComponentSummaryDataForUser">
            <soap:operation soapAction="urn:GetComponentSummaryDataForUser"/>
            <input name="GetComponentSummaryDataForUserRequest">
                <soap:body use="literal"/>
            </input>
            <output name="GetComponentSummaryDataForUserResponse">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="SetMessage">
            <soap:operation soapAction="urn:SetMessage"/>
            <input name="SetMessageRequestType">
                <soap:body use="literal"/>
            </input>
            <output name="SetMessageResponseType">
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="GetMessages">
            <soap:operation soapAction="urn:GetMessages"/>
            <input name="GetMessagesRequestType">
                <soap:body use="literal"/>
            </input>
            <output name="GetMessagesResponseType">
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>
  
    <service name="DisplayDataComponent">
        <port name="DisplayDataComponentPortSoap11"
          binding="tns:DisplayDataComponentBindingSoap11">
            <soap:address
         location="http://localhost:${HttpDefaultPort}/DisplayDataComponent/DisplayDataComponent_Service" />
        </port>
    </service>
    <plnk:partnerLinkType name="DisplayDataComponent">
    <!-- A partner link type is automatically generated when a new port type is added. 
         Partner link types are used by BPEL processes. In a BPEL process, a partner 
         link represents the interaction between the BPEL process and a partner service. 
         Each partner link is associated with a partner link type. A partner link type 
         characterizes the conversational relationship between two services. The 
         partner link type can have one or two roles.-->
        <plnk:role name="DisplayDataComponentPortTypeRole"
               portType="tns:DisplayDataComponentPortType"/>
    </plnk:partnerLinkType>
  
</definitions>
